@{
    ViewBag.Title = "Home Page";
}

<p>Thanks for using <a href="https://github.com/derekfinlinson/node-webresource">node-webresource</a>!</p>

<p>Click below to grant Node-WebResource access to your Dynamics 365 Organization</p>

@Html.Partial("_LoginPartial")

<p>@ViewBag.Message</p>